BASE_URL=https://hh.ru
HH_EMAIL=example@example.com
COOKIES_FILE=example.pkl
CRON=0 * * * *
TZ=Europe/Moscow
RESUME_ID=example
BLOCKED_WORDS_FILE=example.txt
COVER_LETTER_FILE=example_letter.txt
RESPONSE_DELAY=5
